<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>AuxBox</title>
</head>
<body>
    <h1 class="title-large">AUX-BOX</h1>
    <div id='loggedin' class="container">
        <form action="/room" method="post" class="form">
            <button class="button block" id='createroom'>Create Game</button>
        </form>
        <form id="join" class="form">
            <input class="input block" name="room" placeholder="Enter Game Code" autocomplete="off" type="text" required>
            <button class="button block" type="submit">Join Room</button>
          </form>
    </div>
</body>
<script src="bundle.js"></script>
</html>
