* {
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}
#loggedin {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  text-align: center;
}

#roomloggedin {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

#search {
  width: 100%;
  height: 5%;
}

.song {
  position: left;
  display: flex;
  cursor: pointer;
}

.song:hover {
  background-color: lightgray;
}

img{
  display: block;
  align-self: center;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

