:root {
  --light-green: #c7f9cc;
  --mint-green: #80ed99;
  --neutral-green: #57cc99;
  --navy: #457595;
  --teal-light: #356585;
  --teal: #22577a;
}

* {
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--teal);
}

.title-large {
  font-size: 3rem;
  color: white;
  width: 60vw;
  text-align: center;
  margin: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.block {
  width: 50vw;
  padding: 1rem;
  margin: 0.4rem;
}

.button {
  border: none;
  outline: none;
  background: var(--teal-light);
  color: white;
  border-radius: 1rem;
  transition: 0.3s;
}

.button:hover {
  background: var(--navy);
  cursor: pointer;
}

.input {
  border: none;
  outline: none;
  background: var(--teal-light);
  color: transparent;
  text-shadow: 0 0 0 white;
  border-radius: 1rem;
  text-align: center;
  transition: ease 0.5s;
}

.input:focus {
  background: var(--navy);
}

.form {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
